<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scribbler Documentation - a code documentation page template for codrops</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/faq-global.css') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/faq-doc.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <!-- Swiper slider-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/swiper-bundle.min.css') }}">
    <!-- Modal Video-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/modal-video.min.css') }}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800&amp;display=swap">
    <!-- Device Mockup-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/device-mockups.css') }}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.default.css') }}" id="theme-stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style>
      .menu__item a{
        color: #d59353;
      }
      .menu__item a:hover{
        color: #b8b8b8;
      }
      .gicon{
        color: #b8b8b8;
      }
      .doc__nav li:hover{
        color: #b8b8b8;
      }
      .doc__nav li{
        color: #d59353;
      }
      .doc__nav .selected{
        color: #b8b8b8;
      }
      .doc__nav .selected::after{
        content: '\f00c';
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        display: block;
        position: absolute;
        left: -1.5rem;
        top: -0.05rem;
        transform: translateY(-50%);
        color: #b8b8b8;
        width: 0;
        height: 0;
      }
      .header{
        border-bottom: none;
      }
      .wrapper{
        margin-top: 2rem;
      }
    </style>  
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
        <div class="container"><a class="navbar-brand" href="/">
          <img src="{{url_for('static', filename='img/dash.png')}}" alt="" width="110">
        </a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a class="nav-link link-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/dashboard/google_analytics" target="_blank">Google Analytics Dashboard</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/dashboard/google_ads" target="_blank">Google Ads Dashboard</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/dashboard/marketing_tools" target="_blank">Other Examples</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/docs" target="_blank">Documentation</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
          <li class="js-btn selected">Get Started</li>
          <li class="js-btn">Configuration</li>
          <li class="js-btn">Keybindings</li>
          <li class="js-btn">Issues</li>
        </ul>
      </aside>
      <article class="doc__content">
        <section class="js-section">
          <h3 class="section__title">Get Started</h3>
          <p>Learn how to configure settings for Scribbler, such as your syntax highlighting preference and the default saving folder location.</p>
          <h3 class="section__title">Installation</h3>
          <div class="code__block code__block--notabs">
            <pre class="code code--block">
              <code>
                $ scribbler  ——config
                  {
                    “encryption”: true, 
                    “highlighting“: true,
                    “prettyTable”: false,
                    “font”: [“Helvetica”, “sans-serif”],
                    “folder”: “~/Desktop“
                  }
              </code>
            </pre>
          </div>
        </section>
        <section class="js-section">
          <h3 class="section__title">Configuration</h3>
          <p>Learn how to configure settings for Scribbler, such as your syntax highlighting preference and the default saving folder location.</p>
          <table id="customers">
            <tr>
              <th>Options</th>
              <th>Value</th>
              <th>Default</th>
            </tr>
            <tr>
              <td>encryption</td>
              <td>encrypt all notes before saving. If turned on, it requires password to open the file.</td>
              <td>false</td>
            </tr>
            <tr>
              <td>highlighting</td>
              <td>Show syntax highlight on markdown text.</td>
              <td>true</td>
            </tr>
            <tr>
              <td>prettyTable</td>
              <td>Render table with Scribbler’s pretty table style.</td>
              <td>true</td>
            </tr>
          </table>
          <p>Malis percipitur an pro. Pro aperiam persequeris at, at sonet sensibus mei, id mea postulant definiebas concludaturque. Id qui malis abhorreant, mazim melius quo et. At eam altera dolorum, case dicant lobortis ius te, ad vel affert oportere reprehendunt. Quo no verterem deseruisse, mea brute postea te, ne per tacimates suavitate vituperatoribus.</p>
          <hr />
        </section>
        <section class="js-section">
          <h3 class="section__title">Keybindings</h3>
          <p>Lorem ipsum dolor sit amet, scripta tibique indoctum sit ei, mel inani aeterno ad. Facer oratio ex per. At eam movet verear, in sea brute patrioque disputando, usu nonumes torquatos an. Ex his quaerendum intellegebat, ut vel homero accusam. Eum at debet tibique, in vocibus temporibus adversarium sed. Porro verear eu vix, ne usu tation vituperata.</p>
          <p>Malis percipitur an pro. Pro aperiam persequeris at, at sonet sensibus mei, id mea postulant definiebas concludaturque. Id qui malis abhorreant, mazim melius quo et. At eam altera dolorum, case dicant lobortis ius te, ad vel affert oportere reprehendunt. Quo no verterem deseruisse, mea brute postea te, ne per tacimates suavitate vituperatoribus.</p>
          <p>Malis percipitur an pro. Pro aperiam persequeris at, at sonet sensibus mei, id mea postulant definiebas concludaturque. Id qui malis abhorreant, mazim melius quo et. At eam altera dolorum, case dicant lobortis ius te, ad vel affert oportere reprehendunt. Quo no verterem deseruisse, mea brute postea te, ne per tacimates suavitate vituperatoribus.</p>
          <hr />
        </section>
        <section class="js-section">
          <h3 class="section__title">Issues</h3>
          <p>Lorem ipsum dolor sit amet, scripta tibique indoctum sit ei, mel inani aeterno ad. Facer oratio ex per. At eam movet verear, in sea brute patrioque disputando, usu nonumes torquatos an. Ex his quaerendum intellegebat, ut vel homero accusam. Eum at debet tibique, in vocibus temporibus adversarium sed. Porro verear eu vix, ne usu tation vituperata.</p>
          <p>Malis percipitur an pro. Pro aperiam persequeris at, at sonet sensibus mei, id mea postulant definiebas concludaturque. Id qui malis abhorreant, mazim melius quo et. At eam altera dolorum, case dicant lobortis ius te, ad vel affert oportere reprehendunt. Quo no verterem deseruisse, mea brute postea te, ne per tacimates suavitate vituperatoribus.</p>
        </section>
      </article>
    </div>
    <footer class="with-pattern-1 position-relative pt-5">
      <div class="container py-5">
        <div class="row gy-4">
          <div class="col-lg-3"><img class="mb-4" src="{{url_for('static', filename='img/dash.png')}}" alt="" width="110">
            <p class="text-muted">Dash is ideal for building and deploying data apps with customized user interfaces.</p>
          </div>
          <div class="col-lg-5">
            <h2 class="h2 mb-4">CONTACT US</h2>
            <form method="POST" action="{{ url_for('home') }}">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.email.label(class_="form-label") }}
                <br>
                {{ form.email(size=30,placeholder="email@example.io",class_="form-control") }}
                <div id="email" class="form-text">Your email will never be shared with anyone.</div>
              </div>
              <div class="mb-3">
                <div class="form">
                  {{ form.message.label(class_="form-label") }}
                  <br>
                  {{ form.message(rows=4,cols=50,placeholder="Please leave us your message and we will get back you!",class_="form-control") }}
                </div>
              </div>
              {{ form.submit(class_='btn btn-primary') }}
            </form>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ url_for('static', filename='faq.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>