<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dash Plotly Visualization App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Swiper slider-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/swiper-bundle.min.css') }}">
    <!-- Modal Video-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/modal-video.min.css') }}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800&amp;display=swap">
    <!-- Device Mockup-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/device-mockups.css') }}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.default.css') }}" id="theme-stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/custom.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


    <style>
      .btn-primary{
        color: #fff;
        background-color: #999997 !important;
        border-color: #999997 !important; 
      }
      .nav-link{
        color: #b8b8b8 !important;
        font-weight: 600;
        
      }
      a.nav-link {
        text-decoration: underline;
        text-decoration-color: #b8b8b8;
      }
      .nav-link:hover{
        color: #d59353 !important;
      }
      .list-check li::before{
        color: #b8b8b8 !important;
      }
      div.card-body h3{
        color: orange;
      }
    </style>


  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
        <div class="container"><a class="navbar-brand" href="/"><img src="{{url_for('static', filename='img/dash.png')}}" alt="" width="110"></a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav justify-content-end">
              <li class="nav-item"><a class="nav-link link-scroll" href="#about">About</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/dashboard/google_analytics" target="_blank">Google Analytics Dashboard</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/dashboard/google_ads" target="_blank">Google Ads Dashboard</a></li>
              <li class="nav-item"><a class="nav-link link-scroll" href="/dashboard/marketing_tools" target="_blank">Other Examples</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Hero Section-->
    <section class="hero bg-top py-5" id="hero" style="background: url(img/banner-4.png) no-repeat; background-size: 100% 80%">
      <div class="container py-5">
        <div class="row py-8">
          <div class="col-lg-6 py-5">
            <h1>Build powerful visualization for your media-buying </h1>
            <p class="my-4 text-muted">Dash is ideal for building and deploying data apps with customized user interfaces. It's suited for anyone who works with data, particularly for Marketing Analytics individuals.</p>
            <p class="my-4 text-muted">Using this Dash application, you can visualize your marketing data to uncover insights for your media buying activities.</p>
            <div class="row align-items-center gy-5">
            <div class="col-lg-12">
              <p class="text-muted">Using this application, you will be able to build interactive reports using your data to unearth insights. Here are some of the features of this app</p>
              <ul class="list-check">
                <li class="text-muted mb-2">Various Analysis Options</li>
                <li class="text-muted mb-2">User-Friendly Interactive Charts</li>
                <li class="text-muted mb-2">Scalable Visualization For Your Data</li>
              </ul>
            </div>
          </div>
          <div class="row align-items-center gy-5" style="margin-top: 0.15rem;">
            <div class="row gy-4">
              <div class="col-lg-5 col-sm-5">
                <div class="card border-0 shadow rounded-lg text-start px-2">
                  <div class="card-body px py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-pie-chart-fill" viewBox="0 0 16 16">
                      <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                    </svg>
                    <h3 class="h5 my-3">Pie Charts</h3>
                    <p class="text-sm mb-0 text-muted">Breakdown your data for a better understanding of its distribution.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-sm-5">
                <div class="card border-0 shadow rounded-lg text-start px-2">
                  <div class="card-body px py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                      <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                    </svg>
                    <h3 class="h5 my-3">Interactive Charts</h3>
                    <p class="text-sm mb-0 text-muted">Build interactive charts and zoom into your data without rebuilding your the reports.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-sm-5">
                <div class="card border-0 shadow rounded-lg text-start px-2">
                  <div class="card-body px py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"/>
                    </svg>
                    <h3 class="h5 my-3">Time Series</h3>
                    <p class="text-sm mb-0 text-muted">Visualize data across timelines to understand its trend and seasonality. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-sm-5">
                <div class="card border-0 shadow rounded-lg text-start px-2">
                  <div class="card-body px py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                      <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                    </svg>
                    <h3 class="h5 my-3">Bar Charts</h3>
                    <p class="text-sm mb-0 text-muted">Visualize your data's observastions across categories.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="col-lg-6 ml-auto">
            <div class="device-wrapper mx-auto">
              <div class="device shadow" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                <div class="screen"><img class="img-fluid" src="{{url_for('static', filename='img/iphone_screen.png')}}" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-center py-0" id="about" style="background: url(img/service-bg.svg) no-repeat; background-size: cover">
      <section class="about py-0">
        <div class="container">
          <p class="h6 text-uppercase text-primary" style="color: #999997 !important;">How does it work?</p>
          <h2 class="mb-5">Visualize data & uncover insights</h2>
          <div class="row pb-5 gy-4">
            <div class="col-lg-4 col-md-6">
              <div class="card border-0 shadow rounded-lg py-4 text-start">
                <div class="card-body p-5">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                  </svg>
                  <h3 class="h4 my-4">Fork the Github Repository</h3>
                  <p class="text-sm text-muted mb-0">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card border-0 shadow rounded-lg py-4 text-start">
                <div class="card-body p-5">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-bar-chart-steps" viewBox="0 0 16 16">
                    <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0zM2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5v-1zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-1z"/>
                  </svg>
                  <h3 class="h4 my-4">Customize the charts</h3>
                  <p class="text-sm text-muted mb-0">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card border-0 shadow rounded-lg py-4 text-start">
                <div class="card-body p-5">
                  <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-bullseye" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 13A5 5 0 1 1 8 3a5 5 0 0 1 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"/>
                    <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                  </svg>
                  <h3 class="h4 my-4">Visualize your data</h3>
                  <p class="text-sm text-muted mb-0">Lorem ipsum dolor amet consectetur adipisicing sed do eiusmod tempor incididunt ut labore.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    
    <a class="scroll-top-btn" id="scrollTop" href="#!"><i class="fas fa-long-arrow-alt-up"></i></a>
    <footer class="with-pattern-1 position-relative pt-5">
      <div class="container py-5">
        <div class="row gy-4">
          <div class="col-lg-3"><img class="mb-4" src="{{url_for('static', filename='img/dash.png')}}" alt="" width="110">
            <p class="text-muted">Dash is ideal for building and deploying data apps with customized user interfaces.</p>
          </div>
          <div class="col-lg-5">
            <h2 class="h2 mb-4">CONTACT US</h2>
            <form method="POST" action="{{ url_for('home') }}">
              {{ form.hidden_tag() }}
              <div class="mb-3">
                {{ form.email.label(class_="form-label") }}
                <br>
                {{ form.email(size=30,placeholder="email@example.io",class_="form-control") }}
                <div id="email" class="form-text">Your email will never be shared with anyone.</div>
              </div>
              <div class="mb-3">
                <div class="form">
                  {{ form.message.label(class_="form-label") }}
                  <br>
                  {{ form.message(rows=4,cols=50,placeholder="Please leave us your message and we will get back you!",class_="form-control") }}
                </div>
              </div>
              {{ form.submit(class_='btn btn-primary') }}
            </form>
          </div>
        </div>
      </div>
    </footer>


    <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='swiper-bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='modal-video.js')}}"></script>
    <script src="{{url_for('static', filename='front.js')}}"></script>

    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>