/* your styles go here */

.fixed-top {
    position: relative !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;}

.btn-primary{
    color: #fff;
    background-color: #8C00CD !important;
    border-color: #8C00CD !important;
}
